
/* GENERAL */

body {
    font-family: 'Helvetica', 'Times New Roman', 'Verdana', 'Arial', sans-serif;
    background-color: #e1efe2;
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/*CONTAINER*/

.container {
    display: flex;
    flex-flow: column nowrap;
}

.body-calc {
    background-color: #2b4d4b88;
    margin: 30px;
    padding: 10px 20px 20px 20px;
    display: flex;
    flex-flow: column nowrap;
    align-self: center;
    border-radius: 40px;
    border: 15px solid black;
}

/* HEADER */

.header,
.footer {
    background-color: #67d6ff;
    font-size: 30px;
    text-align: center;
    text-justify: center;
    padding: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    font-size: 12px;
}

/* CALCULATOR */

.signature {
    color: #ffffff;
    font-size: 30px;
    font-weight: bolder;
    text-align: center; 
    padding: 8px 0px 4px 0px;
}

.display-box {
    display: flex;
    flex-flow: column nowrap;
    border: 10px groove #2f4858;
    text-align: end;
    margin-top: 10px;
    flex: 0 0 auto;
}

.display-top {
    box-sizing: border-box;
    height: 97px;
    min-width: 500px;
    max-width: 500px;
    font-family: 'Courier New';
    font-size: 55px;
    padding: 30px 10px 4px 10px;
    background-color: #dbeb89;
    overflow-x: auto;
    &::-webkit-scrollbar-thumb:hover {
        background: #9bacff !important;
      }
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(83, 83, 83, 0.07);
        background-color: #f1f1f1;
      }
      &::-webkit-scrollbar {
        width: 7px;
        background-color: #f1f1f1;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #8b8eb2;
        border-radius: 40px;
      }
}

.display-bottom {
    box-sizing: border-box;
    height: 44px;
    font-family: 'Courier New';
    font-size: 30px;
    padding: 10px 10px 0px 10px;
    background-color: #a2b355;
    width: 500px;
}

.buttons-container {
    display: flex;
    flex-flow: column nowrap;
}

button:hover {
    background-color: aquamarine;
    font-weight: bold;

}